.postChoser_box{
	max-height: 300px;
	overflow-y: auto;
}
#category-pop,
#category-tabs .hide-if-no-js,
#organizations-tabs .hide-if-no-js,
#type-tabs .hide-if-no-js{
	display: none !important;
}
.gray-block{
	background: #f2f2f2 !important;
	padding: 20px 10px !important;
}